@import "_PARTIALS/colours",
        "_PARTIALS/mix_flex-basis-fixed-gutters",
        "_PARTIALS/padding";

//GENERAL

/*main section {
    width:100%;
    padding: 0 $margin_outer;
}*/

//ABOUT
.about {
    text-align: center;
}
.about h2, .text-container h2{
    color: $fetching-shade-of-purple;
}
.about p, .text-container p{
    color: black;
}

.about, .our-services {
    padding-top: $v-pad_lots;
    padding-bottom: $v-pad_lots;
}
.our-services, .get-in-touch {
    background-color: $fetching-shade-of-purple;
    color:white;
}

//OUR SERVICES
.our-services h2 {
    text-transform: uppercase;
}
.card {
    @include flex-basis-fixed-gutters (3, $gutter-padding);
    text-align:center;
    .text-container {
        padding-top: $v-pad_lots;
        padding-bottom: $v-pad_some;
        position: relative;
    }
}
.card-banner {
    height:200px;
    object-fit: cover;
}
.icon {
    position: absolute;
    top:0%;
    left:50%;
    transform:translate(-50%,-50%);       //<== Req'd to effectively set the image origin to center; translate moves the image by a distance relative to its width/height.
    background-color: $fetching-shade-of-purple;
    fill: $white;
    color: black;                       //<== alt text;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

//GET IN TOUCH
.get-in-touch {
    display:flex;
    justify-content: space-between;
    padding-top: $v-pad_some;
    padding-bottom: $v-pad_some;
    p {
        flex-basis: 66%;
    }
    a {
        flex-basis: calc(33% - #{$gutter-padding});
        background-color: white;
        border-radius: 8px;
        text-align: center;
        padding: 50%, 0;
        color: $fetching-shade-of-purple;
        font-size: larger;
        font-weight: 700;
    }
    // ^^^ This section went through an unreasonable ammount of jank before I finally got it lined up properly.
}