@import "_PARTIALS/colours",
        "_PARTIALS/mix_flex-basis-fixed-gutters",
        "_PARTIALS/padding";
        
//I cheated. Of course, I would've sampled the color from the template, but they sent us a .jpg not a .png, so the color information was lost.
//So I grabbed the color from the current website instead ^^

.flex-container {
    display:flex;
    justify-content: space-between;
}

header .flex-container {
    height:50px;
}

.logo {
    flex-basis:25%;
    text-align: left;
    width:fit-content;
    img {
        display:inline-block;
        height:50px;
        object-fit: contain;
    }
}

.nav-header {
    flex-basis:75%;
    padding:15px 0;
    display:flex;
    justify-content:space-between;
    > a {
        @include flex-basis-fixed-gutters (5, 20px);
        height:fit-content;
    }
    .quick-call {
        color:white;
        background-color: $fso-purple;
        border-radius: 4px;
    }
}

footer {
    padding-top: $v-pad_some;
    section { 
        @include flex-basis-fixed-gutters (3, 40px);
    }
}

.contact-details ul {
    list-style: none;
    padding: 0;
    >li:nth-child(1) {
        font-weight: bold;
    }
}

.nav-footer ul {
    padding: 0 20px;
    list-style-image: url("https://img.icons8.com/android/24/000000/chevron-right.png");
    //Placeholder ^^^
}

.copyright {
    margin-top: $v-pad_some;
    text-align: center;
    background-color: $fso-purple;
    p {
        margin-bottom: 0;
        color: white;
    }
}