@import
    "_PAGE PARTIALS/header_footer",
    "_PARTIALS/breakpoints",
    "_PARTIALS/colours";


body {
    margin: 0 9%;
}

h1 {
    background-color: $fetching-shade-of-purple;
    color: white;
}

h3 {
    margin-top: 0;
    color: grey;
}

p {
    color: black;
}

.testimonial {
    display:flex;
    flex-wrap:wrap;
    .testimonial-text, img {
        flex-basis: 100%;
    }
    @media (min-width: $bp-md) {
        .testimonial-text {
            flex-basis: 75%;
        }
        img {
            flex-basis: 25%;
            order: 2;
        }
    }
}

.quote {
    width:100%;
    order: 3;
    font-size: 300%;
    text-align: center;
    ::before, ::after {
        content: "\0022";   //Double quotes
    }
}