body {
    margin: 0;
}

h1 {
    background-color: $fso-purple;
    color: white;
    padding: $v-pad_little $margin_outer;
    margin: 0;
}

header, footer .flex-container, main section {
    width:100%;
    padding: 0 $margin_outer;
    //box-sizing: border-box;   //???
}

.endbreak {
    height: 60px;
    background-color: $fso-purple;
}